/*colors*/
$white:#FFFFFF;
$grey-color:#f7f7f7;
$inner-banner-one:rgba(24,144,182,0.9);
$inner-banner-two:rgba(6,67,80,0.9);

/*font*/
$font-family:Roboto;
$font-normal:400;
$font-bold:700;

/*text-transform*/
$uppercase:uppercase;
$lowercase:lowercase;
$capitalize:capitalize;
$initial:initial;
$inherit:inherit;

/*number*/
$zero:0;
$one:1;
$two:2;
$three:3;
$four:4;
$five:5;
$six:6;
$seven:7;
$eight:8;
$nine:9;
$ten:10;

/*alignment */
$center:center;
$left:left;
$right:right;
$bottom:center;

/*position*/
$absolute:absolute;
$relative:relative;


/*px*/
$px:px;
/*percentage*/
$percentage:percentage(1);

/*media query*/
$break-extrasmall: 320px;
$break-small: 768px;
$break-medium: 992px;
$break-large: 1199px;
$break-extralarge: 1920px;















